**/Makefile
**/Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
m4/
*.o
*.la
*.lo
*.log
*.trs
**/.libs/
**/main
**/.deps/
**/tests/check_file_system
