**/Makefile
**/Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
libtool.m4
lt~obsolete.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
*.o
*.la
*.lo
*.log
*.swp
*.trs
**/.libs/
**/main
**/.deps/
**/tests/check_file_system
